/* BASIC STYLES HERE */
body {
    background-image: url(https://images.unsplash.com/photo-1519638399535-1b036603ac77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80);
}

.box {
    border: solid rgb(255, 255, 255);
    box-shadow: 10px 10px rgba(197, 65, 4, 0.759);
    background-color: rgba(0, 0, 0, 0.347);
    height: 20vh;
}

.questionBox {

    border: solid rgb(255, 255, 255);
    box-shadow: 10px 10px rgba(197, 65, 4, 0.759);
    background-color: rgba(0, 0, 0, 0.307);
    height: 10vh;
}

.funFont {
    font-family: 'Prosto One', sans-serif;
    color: white;
}